hr {
  margin: 2rem 0;
  opacity: 0.3;
}

.container {
  max-width: 580px;
  padding: 2rem;
  margin: 0 auto;
  font-weight: 300;
}

.small-text {
  font-family: monospace;
  font-size: 0.825rem;
  letter-spacing: 0.05rem;
  opacity: 0.5;
}

.spacer {
  margin: 1rem 0;
  border-width: 0;
}

.button {
  display: block;
  text-align: center;
  padding: 1rem;
  border-radius: 5px;
  /* fallback for old browsers */
  background: #1668E0;
  /* Chrome 10-25, Safari 5.1-6 */
  /* background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* background: linear-gradient(to right, #24243e, #302b63, #0f0c29); */
  color: white;
  text-decoration: none;
  transition-duration: 200ms;
}

.button:hover {
  opacity: 0.9;
}